<h1>Articles Listing Page</h1>

Our blog has <%= Article.public_count %> articles and counting!

<ul>
  <% @articles.each do |article| %>
    <% unless article.archived? %>
      <li>
        <%= article.title %>
        <p><%= article.body %></p>
        <%= button_to "Delete", article_path(article), method: :delete, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?" } %>
        <%= link_to "Show this article", article %> 
        <%= link_to "Edit this article", edit_article_path(article) %> 
        </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Article", new_article_path %>


