<p style="color: green"><%= notice %></p>

<%= render @article %>

<ul>
  <li><%= link_to "Edit this article", edit_article_path(@article) %></li> 
  <li><%= link_to "Back to articles", articles_path %></li>
  <li><%= link_to "Destroy", article_path(@article), data: {
    turbo_method: :delete,
    turbo_confirm: "Are you sure?"}%></li>
 <li><%= button_to "Destroy this article",articles_path, method: :delete, 
    onclick: "return confirm('Are you sure you want to delete this article?');" %></li>
</ul>
