<p style="color: green"><%= notice %></p>

<%= render @article %>

<div>
  <%= link_to "Edit this article", edit_article_path(@article) %> |
  <%= link_to "Back to articles", articles_path %>

  <%= button_to "Destroy this article",articles_path, method: :delete, onclick: "return confirm('Are you sure you want to delete this article?');" %>
</div>
